@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

::selection {
  background-color: rgb(235, 235, 158);
  color: black;
}

::-moz-selection {
  background-color: yellow;
  color: black;
}

/* index.css */

/* 1. Scrollbar ki width set karein */
/* Custom Scrollbar for News and Home */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Zyada mota scrollbar bura lagta hai */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background ko saaf rakhein */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d4d4d4; /* Neutral-300 color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; /* Mouse over karne par thoda dark ho jaye */
}
