@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

/* Scrollbar hide karne ke liye */
