@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

::selection {
  background-color: rgb(235, 235, 158);
  color: black;
}

::-moz-selection {
  background-color: yellow;
  color: black;
}
